In [1]:
#dict
#-Indexed
#Ordered
#Multiple Value
#Mutable datatype

In [2]:
#d={}
#d=dict()
#d={<key>:<value>,<key>:<value>,...}

In [3]:
d={'a':'apple',"b":"Ball","c":"Cat"}
print(d)

{'a': 'apple', 'v': 'Ball', 'c': 'Cat'}

In [4]:
d["c"]

'Cat'

In [6]:
len(d)

3

In [8]:
d={'a':'apple',"b":"Ball","c":"Cat"}
d['a']='Apple'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [9]:
d={'a':'apple',"b":"Ball","c":"Cat"}
d['d']='dog'
d

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'd': 'dog'}

In [11]:
d={}
d['a']='Apple'
d['b']='book'
d['c']='cat'
d['d']='dog'
d

{'a': 'Apple', 'b': 'book', 'c': 'cat', 'd': 'dog'}

In [14]:
d={}
n=int(input('Enter n:'))
for i in range(n):
    name=input("Enter name:")
    phone=input("Enter phone:")
    d[name]=phone
print(d)

Enter n:2
Enter nameAayushka
Enter phone984121212
Enter nameAnu
Enter phone98222222
{'Aayushka': '984121212', 'Anu': '98222222'}

In [15]:
for i in d.items():
    print(i)

('Aayushka', '984121212')
('Anu', '98222222')

In [16]:
x=[]
d={'Aayushka': '984121212', 'Anu': '98222222'}
for i in d.items():
    x.append(i)
x

[('Aayushka', '984121212'), ('Anu', '98222222')]

In [17]:
dict(x)

{'Aayushka': '984121212', 'Anu': '98222222'}

In [18]:
d={'Aayushka': '984121212', 'Anu': '98222222'}
c={'Ram':987216563}
d.update(c)
d

{'Aayushka': '984121212', 'Anu': '98222222', 'Ram': 987216563}

In [19]:
#del pop()
d={'Aayushka': '984121212', 'Anu': '98222222', 'Ram': 987216563}
del d['Ram']
d

{'Aayushka': '984121212', 'Anu': '98222222'}

In [20]:
d={'Aayushka': '984121212', 'Anu': '98222222', 'Ram': 987216563}
d.pop("Ram")
d

{'Aayushka': '984121212', 'Anu': '98222222'}

In [21]:
d={'Aayushka': '984121212', 'Anu': '98222222', 'Ram': 987216563}
d.clear()
d

{}

In [22]:
#list inside list
d={'Aayushka': ['984121212','987271621'], 'Anu': '98222222', 'Ram': 987216563}
d

{'Aayushka': ['984121212', '987271621'], 'Anu': '98222222', 'Ram': 987216563}

In [25]:
print(d['Aayushka'])
print(d['Aayushka'][0])

['984121212', '987271621']
984121212

In [26]:
d={}
n=int(input("Enter the value of n:"))
for i in range(n):
    name=input("Enter name")
    ntc_phone=int(input("Enter ntc phone:"))
    ncell_phone=int(input("Enter ncell_phone:"))
    d[name]=[ntc_phone,ncell_phone]
d

Enter the value of n:2
Enter namesdd
Enter ntc phone:43534453
Enter ncell_phone:324324
Enter namehfhfgh
Enter ntc phone:323424
Enter ncell_phone:23423423

{'sdd': [43534453, 324324], 'hfhfgh': [323424, 23423423]}

In [29]:
a={'sdd': [43534453, 324324], 'hfhfgh': [323424, 23423423]}
a['Hari']=[342442,32424233]
a

{'sdd': [43534453, 324324],
 'hfhfgh': [323424, 23423423],
 'Hari': [342442, 32424233]}

In [34]:
a={'ram': [43534453, 324324], 'shyam': [323424, 23423423]}
a['ram'][0]

43534453

In [35]:
a={'ram': [43534453, 324324], 'shyam': [323424, 23423423]}
a['ram'][0]=122213213
a

{'ram': [122213213, 324324], 'shyam': [323424, 23423423]}

In [36]:
a={'ram': [43534453, 324324], 'shyam': [323424, 23423423]}
a['ram'].append(432423)
a

{'ram': [43534453, 324324, 432423], 'shyam': [323424, 23423423]}

In [38]:
name=[]
age=[]
add=[]
n=int(input("Enter n:"))
for i in range(n):
    na=input("Enter name:")
    ag=int(input("Enter age:"))
    ad=input("Enter add:")
    name.append(na)
    age.append(ag)
    add.append(ad)
a={'name':name,'age':age,'address':add}
a

Enter n:2
Enter name:das
Enter age:22
Enter add:sd
Enter name:dscds
Enter age:332
Enter add:sdf

{'name': ['das', 'dscds'], 'age': [22, 332], 'address': ['sd', 'sdf']}