In [ ]:
#string

In [1]:
a='Python'
b="python"

In [2]:
a='Python'
b="python"
c='''Python'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
a='10'
type(a)

str

In [6]:
a=input("Enter a=")
type(a)

Enter a=ten

str

In [12]:
a=input("Enter a=")
b=input("Enter b=")
c=a+b
print(c*2)

Enter a=a
Enter b=a
aaaa

In [13]:
#string formating

In [15]:
name=input("Enter name")
age=input("Enter age")
add=input("Enter add")
info=f"Hello world I am {name}.I am from {add}.I am {age}"
print(info)

Enter namea
Enter agea
Enter adda
Hello world I am a.I am from a.I am a

In [20]:
bill=""
n=int(input("Enter n="))
for i in range(n):
    product=input("Enter product name:")
    price=int(input("Enter product price:"))
    quantity=int(input("Enter product quantity:"))
    total=price*quantity
    info=f"{product} {price} {quantity} {total}\n"
    bill=bill+info
print(bill)

Enter n=2
Enter product name:wewdks
Enter product price:233
Enter product quantity:23
Enter product name:dfsd
Enter product price:2
Enter product quantity:3
wewdks 233 23 5359
dfsd 2 3 6

In [21]:
#string slicing

In [23]:
a="Hello world i am python"
print(a[0:5])

Hello

In [33]:
a="Hello world i am python"
b=a[0:20:2]
c=a[8:]
print(b)
print(c)

Hlowrdia y
rld i am python

In [38]:
a="Hello world i am python"
print(a[::-1])

nohtyp ma i dlrow olleH

In [40]:
a="Ram shyam Ram hari gita sita sita sita"
search=input("Enter search:")
if search in a:
    print("Yes")
    print(a.count(search))

Enter search:a
Yes
8

In [42]:
a="Ram shyam Ram hari gita sita sita sita"
print(a.upper())

RAM SHYAM RAM HARI GITA SITA SITA SITA

In [46]:
a="Ram shyam Ram hari gita sita sita sita".lower()
search=input("Enter search:").lower()
if search in a:
    print("Yes")
    print(a.count(search))

Enter search:ram
Yes
2

In [50]:
a="Ram shyam ram hari gita sita sita sita"
b=a.replace('ram','')    
print(a)
print(b)

Ram shyam ram hari gita sita sita sita
Ram shyam  hari gita sita sita sita

In [1]:
a="Ram shyam ram hari gita sita sita sita"
print(a.replace('ram','Ram'))

Ram shyam Ram hari gita sita sita sita

In [52]:
a="Ram shyam ram hari gita sita sita sita"
print(a.split())

['Ram', 'shyam', 'ram', 'hari', 'gita', 'sita', 'sita', 'sita']

In [54]:
a="RAM shyam ram hari gita sita sita sita"
print(a.title())

Ram Shyam Ram Hari Gita Sita Sita Sita