In [10]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\user\anaconda3\lib\site-packages (2.2.9)

In [7]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="python"
    
)
db = database.cursor()

In [11]:
db.execute("SELECT * FROM student”)
result =db.fetchall()
#for x in result:
#    print(x)
result

SyntaxError: EOL while scanning string literal (190974028.py, line 1)

In [ ]:
db.execute("SELECT sn,name,total FROM student”)
result =db.fetchall()
#for x in result:
#    print(x)
result

In [ ]:
#inserting data
sql=f"INSERT INTO student(sn,name,physics,chemistry,math,english,nepali,total,percentage,grade) VALUES(7,'Ram',45,56,65,67,78,478,88.00,'A+')"
db.execute(sql)
database.commit()