In [2]:
#list inside list
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
print(type(a))

<class 'list'>

In [4]:
a[1]

[4, 5, 6]

In [5]:
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a[0])

[1, 2, 3]

In [8]:
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a[2][2])

9

In [10]:
a=[["Ram",34,"Kathmandu"],["Shyam",56,"Lalitpur"],['Hari',45,'Bhaktapur']]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Lalitpur'], ['Hari', 45, 'Bhaktapur']]

In [12]:
a=[]
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    age=int(input("Enter age="))
    add=input("Enter add=")
    i=[name,age,add]
    a.append(i)
print(a)

Enter n=3
Enter name=Ram
Enter age=23
Enter add=Bhaktapur
Enter name=Krishma
Enter age=12
Enter add=Shksl
Enter name=Teja
Enter age=13
Enter add=kdws
[['Ram', 23, 'Bhaktapur'], ['Krishma', 12, 'Shksl'], ['Teja', 13, 'kdws']]

In [14]:
a=[["Ram",34,"Kathmandu"],["Shyam",56,"Lalitpur"],['Hari',45,'Bhaktapur']]
del a[1]
a

[['Ram', 34, 'Kathmandu'], ['Hari', 45, 'Bhaktapur']]

In [15]:
a=[["Ram",34,"Kathmandu"],["Shyam",56,"Lalitpur"],['Hari',45,'Bhaktapur']]
a[0]=["Ram",23,"akak"]
a

[['Ram', 23, 'akak'], ['Shyam', 56, 'Lalitpur'], ['Hari', 45, 'Bhaktapur']]

In [16]:
a=[["Ram",34,"Kathmandu"],["Shyam",56,"Lalitpur"],['Hari',45,'Bhaktapur']]
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 56, 'Lalitpur']
['Hari', 45, 'Bhaktapur']

In [18]:
a=[["Ram",34,"Kathmandu"],["Shyam",56,"Lalitpur"],['Ram',45,'Bhaktapur']]
search=input("Enter name:")
for i in a:
    if search in i:
        print(i)

Enter name:Ram
['Ram', 34, 'Kathmandu']
['Ram', 45, 'Bhaktapur']

In [37]:
a=[["Ram",34,"Kathmandu"],["Shyam",56,"Lalitpur"],['Ram',45,'Bhaktapur']]
search=input("Enter name:")
c=0
for i in a:
    if search in a:
        c=c+1
        print(i)
print(f"There are {c}",search)

Enter name:e
There are 0 e

In [25]:
l=[]
r=int(input("Enter row:"))
c=int(input("Enter column:"))
for i in range(r):
    y=[]
    for j in range(c):
        x=input("Enter x")
        y.append(x)
    l.append(y)
print(l)

Enter row:2
Enter column:3
Enter x2
Enter x3
Enter x2
Enter x3
Enter x2
Enter x3
[['2', '3', '2'], ['3', '2', '3']]

In [26]:
a=[i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [27]:
a=[i for i in range(1,21)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [28]:
a=[i for i in range(1,21) if i%2==0]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
a=["APPLE","Dog","cat","ball"]
b=[i for i in a if i.isupper()]
b

['APPLE']

In [2]:
#wap to create a billing system using list inside list
l=[]
n=int(input("Enter the value of n"))
for i in range(n):
    a=input("Enter product name")
    price=int(input("Enter product price:"))
    quantity=int(input("Enter product quantity:"))
    total=price*quantity
    info=[a,price,quantity,total]
    l.append(info)
print(l)

Enter the value of n2
Enter product namesws
Enter product price:11
Enter product quantity:22
Enter product namedss
Enter product price:2121
Enter product quantity:22
[['sws', 11, 22, 242], ['dss', 2121, 22, 46662]]