In [1]:
#tuple 
#inde
#ordered
#Multiple values
#Imutable

In [2]:
a=(1,2,3,4,5)
b=("Apple","Ball","Cat","Dog")
print(a)
print(b)
print(type(a))
print(type(b))

(1, 2, 3, 4, 5)
('Apple', 'Ball', 'Cat', 'Dog')
<class 'tuple'>
<class 'tuple'>

In [4]:
print(b[0])
print(a[4])

Apple
5

In [5]:
a=(1,2,3,4,5)
b=("Apple","Ball","Cat","Dog")
c=a+b
print(a+b)

(1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog')

In [20]:
#a=()
#a=tuple()
#append is not possible
a=()
a=a+("Apple",)
a=a+("Ball",)
print(a)

('Apple', 'Ball')

In [19]:
a=("apple",)
print(type(a))

<class 'tuple'>

In [13]:
t=()
n=int(input("Enter the value of n:"))
for i in range(n):
    x=int(input("Enter x:"))
    t=t+(x,)
print(t)

Enter the value of n:2
Enter x:2
Enter x:3
(2, 3)

In [14]:
#no append extend insert sort pop remove update del

In [18]:
a=(1,2,3,4,5)
a=list(a)
del a[2]
a=tuple(a)
print(a)

(1, 2, 4, 5)

In [22]:
b=("Apple","Ball","Cat","Dog")
print(b*3)

('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')

In [23]:
#tuple inside tuple
a=((1,2,3),(3,4,5),(8,9,0))
a

((1, 2, 3), (3, 4, 5), (8, 9, 0))

In [26]:
a=()
n=int(input("Enter n:"))
for i in range(n):
    name=input("Enter your name:")
    age=int(input("Enter your age:"))
    x=(name,age)
    a=a+(x,)
print(a)

Enter n:3
Enter your name:aayu
Enter your age:12
Enter your name:teja
Enter your age:23
Enter your name:krish
Enter your age:23
(('aayu', 12), ('teja', 23), ('krish', 23))

In [27]:
a=(('aayu', 12), ('teja', 23), ('krish', 23))
list(a)

[('aayu', 12), ('teja', 23), ('krish', 23)]

In [28]:
b=[('aayu', 12), ('teja', 23), ('krish', 23)]
tuple(b)

(('aayu', 12), ('teja', 23), ('krish', 23))

In [32]:
b=[]
a=(('aayu', 12), ('teja', 23), ('krish', 23))
for i in a:
    b.append(list(i))
print(b)

[['aayu', 12], ['teja', 23], ['krish', 23]]

In [35]:
b=()
a=[['aayu', 12],['teja', 23], ['krish', 23]]
for i in a:
    b=b+(tuple(i),)
print(b)

(('aayu', 12), ('teja', 23), ('krish', 23))