In [1]:
#file=open('<file name>','<modes>')
#file.close()
#with open(<'file_name>','<mode>') as file:
#<operations>

In [2]:
#modes
#read:r
#create:x
#write:w
#append:a

In [4]:
try:
    file=open("Data.txt","x")
    file.close()
except:
    print("the file is already there")

the file is already there

In [12]:
file=open('Data.txt','r')
x=file.read()
print(x)
print(type(x))
file.close()

1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world
<class 'str'>

In [13]:
x.split('\n')

['1.Hello world',
 '2.Hello world',
 '3.Hello world',
 '4.Hello world',
 '5.Hello world',
 '6.Hello world']

In [14]:
file=open('Data.txt','w')
file.write("Hello world I am Python")
file.close()

In [15]:
file=open('Datas.txt','w')
file.write("Hello world I am Python")
file.close()

In [19]:
bill=""
n=int(input("Enter n:"))
for i in range(n):
    name=input("Enter name")
    price=int(input("Enter price:"))
    quantity=int(input("Enter quantity:"))
    total=price*quantity
    bill=bill+f"{name} {price} {quantity} {total}\n"
file=open('Datas.txt','w')
file.write(bill)
file.close()

Enter n:3
Enter nameaayushka
Enter price:212
Enter quantity:21
Enter nameanu
Enter price:2345
Enter quantity:21
Enter namekritika
Enter price:345
Enter quantity:45

In [20]:
bill=""
n=int(input("Enter n:"))
for i in range(n):
    name=input("Enter name:")
    price=int(input("Enter price:"))
    quantity=int(input("Enter quantity:"))
    total=price*quantity
    bill=bill+f"{name},{price},{quantity},{total}\n"
file=open('Data.csv','w')
file.write(bill)
file.close()

Enter n:3
Enter nameTejaswee
Enter price:12
Enter quantity:12
Enter nameanu
Enter price:12
Enter quantity:12
Enter nameqhwsiqwiu
Enter price:34543
Enter quantity:34

In [36]:
bill=""
n=int(input("Enter n:"))
for i in range(n):
    name=input("Enter name:")
    price=int(input("Enter price:"))
    quantity=int(input("Enter quantity:"))
    total=price*quantity
    bill=bill+f"{name},{price},{quantity},{total}\n"
file=open('Data.csv','w')
file.write('Name,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter n:3
Enter name:sddsdas
Enter price:21
Enter quantity:213
Enter name:sadas
Enter price:234
Enter quantity:23
Enter name:dsfsf
Enter price:434
Enter quantity:34

In [37]:
file=open('Data.csv','r')
x=file.read()
print(x)
file.close()

Name,Price,Quantity,Total
sddsdas,21,213,4473
sadas,234,23,5382
dsfsf,434,34,14756

In [38]:
y=x.split('\n')[0:-1]
y

['Name,Price,Quantity,Total',
 'sddsdas,21,213,4473',
 'sadas,234,23,5382',
 'dsfsf,434,34,14756']

In [39]:
bills=[]
for i in y:
    bills.append(i.split(","))
bills

[['Name', 'Price', 'Quantity', 'Total'],
 ['sddsdas', '21', '213', '4473'],
 ['sadas', '234', '23', '5382'],
 ['dsfsf', '434', '34', '14756']]

In [40]:
all_total=0
for i in range(1,len(bills)):
    z=int(bills[1][3])
    all_total=all_total+z
all_total

13419