In [1]:
# two types for and while
#range(5) 0,1,2,3,4
#range(1,5)1,2,3,4
#range(1,5,2)1,3

range(0, 5)

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(1,5):
    print(i)

1
2
3
4

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [14]:
for i in range(5):
    print(i,"HEllo WOrld")

0 HEllo WOrld
1 HEllo WOrld
2 HEllo WOrld
3 HEllo WOrld
4 HEllo WOrld

In [15]:
print("hello"*4)

hellohellohellohello

In [16]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [17]:
n=int(input("Enter the value of n:"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter the value of n:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [18]:
for i in range(2):
    x=input("Enter the value of x")
    print(x)

Enter the value of x2
2
Enter the value of x2
2

In [23]:
s=0
n=int(input("Enter the value of n:"))
for i in range(n):
    x=int(input("Enter the value of x:"))
    s=s+x
print(s)

Enter the value of n:4
Enter the value of x:3
Enter the value of x:3
Enter the value of x:3
Enter the value of x:3
12

In [29]:
s=str()
n=int(input("Enter the value of n:"))
for i in range(n):
    x=input("Enter the value of x:")
    s=s+x+" "
print(s)

Enter the value of n:2
Enter the value of x:w
Enter the value of x:w
w w

In [31]:
s=str()
n=int(input("Enter the value of n:"))
for i in range(n):
    name=input("Enter name:")
    phone=int(input("Enter phone:"))
    s=s+name+" "+str(phone)+"\n"
print(s)

Enter the value of n:2
Enter name:sed
Enter phone:2323233232
Enter name:dcddd
Enter phone:2232323
sed 2323233232
dcddd 2232323

In [33]:
fact=1
n=int(input("Enter the value of n"))
for i in range(1,n+1):
    fact=fact*i
    
print(fact)

Enter the value of n5
120

In [36]:
a="Pythonnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn"
for i in a:
    print(i)

P
y
t
h
o
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n
n

In [40]:
a="Pythonnn"
for i in a:
    print(i,"Hello World",end="...")

P Hello World...y Hello World...t Hello World...h Hello World...o Hello World...n Hello World...n Hello World...n Hello World...

In [45]:
a="Pythonnn"
l=len(a)
print(l)
for i in range(l):
    print(a[i])

8
P
y
t
h
o
n
n
n

In [46]:
a=input("enter")
l=len(a)
print(l)
for i in range(l):
    print(a[i])

enterswww
4
s
w
w
w

In [50]:
a=input("enter")
l=len(a)
print(l)
for i in range(l):
    print(a[i])

enterssssss
6
s
s
s
s
s
s